APP_NAME=ISRA 2.0
ELECTRON_MAIN_PATH=..\\..\\..\\electron\\main.js
BACKEND_BASE_URL=http://127.0.0.1:8080
API_TIMEOUT_MS=30000
AUTH_USER=testuser
AUTH_PASSWORD=TestPass123!
HEADLESS=false
CUCUMBER_PARALLEL=1
CUCUMBER_RETRY=1
STEP_TIMEOUT=90000
